---
import "../styles/global.css";
// Component Imports
import Button from "../components/Button.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div class="grid place-items-center h-screen content-center">
      <a href="/markdown-page" class="p-4 underline"
        >Markdown is also supported...</a
      >
      {
        allProjects.map((project) => (
          <div
            key={project.id}
            class="mb-4 p-4 border rounded-lg w-80 text-center"
          >
            <h2 class="text-2xl font-bold mb-2">{project.data.title}</h2>
            <p class="mb-4">{project.data.description}</p>
            <Button href={`./project/${project.id}`} variant="primary">
              View Project
            </Button>
          </div>
        ))
      }
    </div>
  </body>
</html>
