---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { project: project.id },
    props: { project },
  }));
}
import type { CollectionEntry } from "astro:content";
import OtherProjects from "@/components/OtherProjects.astro";
import { Calendar, Users, ArrowUpRight } from "lucide-react";
import LinkButton from "@/components/LinkButton.tsx";
import Prose from "@/components/Prose.astro";
import Tag from "@/components/Tag";
import H1 from "@/components/H1.astro";
type Props = { project: CollectionEntry<"projects"> };

const { project } = Astro.props as Props;
const { Content } = await render(project);
const accentStyle = { "--accent": project.data.accentColor };
---

<BaseLayout
  title={`${project.data.title} - Julian Spindola`}
  description={project.data.description}
>
  <main>
    <div class="hero w-full h-[45vh] bg-accent border-b z-10 opacity-50"></div>
    <div class="content container mx-auto my-8 px-4">
      <div class="header flex flex-col space-x-4 mb-6 relative">
        <div
          class={`absolute left-1/2 top-0 -translate-y-1/2 -translate-x-1/2 w-full h-16 rounded-full bg-accent blur-3xl pointer-events-none -z-10 opacity-40`}
          style={accentStyle}
        >
        </div>
        <a
          href="/projects"
          class="text-sm text-muted-foreground font-mono underline items-center hover:underline block w-fit mb-4"
        >
          &larr; Back to Projects
        </a>
        <div
          class="w-full flex md:flex-row flex-col md:items-center md:justify-between gap-6"
        >
          <div class="flex-2">
            <H1
              lowercase={true}
              animated={true}
              class="text-2xl md:text-3xl lg:text-4xl font-black font-heading"
            >
              {project.data.title}
            </H1>
            <p class="">{project.data.description}</p>
            <ul class="flex my-2 space-x-2 flex-wrap">
              {
                project.data.tags?.map((tech) => (
                  <a
                    title={`View All ${tech} projects`}
                    href={`/projects?tags=${encodeURIComponent(tech)}`}
                  >
                    <Tag title={tech} />
                  </a>
                ))
              }
            </ul>
            <div
              class="flex gap-2 lg:gap-6 lg:flex-row flex-col lg:justify-start"
            >
              <div
                class="flex gap-2 text-sm text-muted-foreground items-center"
              >
                <Calendar size={"1em"} />
                <span class="flex gap-2 font-mono">
                  {project.data.startDate}{
                    project.data.endDate && " - " + project.data.endDate
                  }
                </span>
              </div>
              <div
                class="flex gap-2 text-sm text-muted-foreground items-center"
              >
                <div class="mt-0.5">
                  <Users size={"1em"} />
                </div>

                <p class="font-mono leading-relaxed">
                  <span>me</span>{
                    (project.data.collaborators?.length ?? 0) > 0 && ", "
                  }{
                    /* 2. Map the rest. Note: No spaces between tags and curly braces! */
                    project.data.collaborators?.map(
                      (collaborator, idx, arr) => (
                        <Fragment>
                          {collaborator.github ? (
                            // prettier-ignore
                            <a href={collaborator.github} target="_blank" rel="noopener noreferrer" class="underline hover:text-foreground transition-colors">{collaborator.name.trim()}</a>
                          ) : (
                            <span>{collaborator.name.trim()}</span>
                          )}
                          {idx < arr.length - 1 && ", "}
                        </Fragment>
                      )
                    )
                  }
                </p>
              </div>
            </div>
          </div>
          <div
            class="actions flex-1 text-center items-center md:text-end md:items-end md:justify-center flex flex-col gap-4"
          >
            {
              project.data.githubLink && (
                <LinkButton
                  href={project.data.githubLink}
                  variant="outline"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  View Source Code
                </LinkButton>
              )
            }
            {
              project.data.liveLink && (
                <LinkButton href={project.data.liveLink} target="_blank">
                  View Deployed Project
                </LinkButton>
              )
            }
          </div>
        </div>
      </div>
      <div class="divider my-6 border-t w-full">
        <Prose>
          <Content />
        </Prose>
      </div>
      <!-- <div>
        <OtherProjects />
      </div> -->
    </div>
    <!-- <Content /> -->
  </main>
</BaseLayout>
